<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Delete User</h1>

    <form action="/users/delete/<%= user.id %>" method="post">
        <h3>
            Are you sure you want to delete <%= user.name %>?
        </h3>

        <input type="submit" value="Submit">
    </form> 
</body>
</html>
