body {
    background-image: url("https://media.istockphoto.com/id/1390799493/vector/turquoise-gradation-background.jpg?s=612x612&w=0&k=20&c=7CgX9ySU7SkuZ-idIZh3xNuvYqokFuJCA3i7hN7rmVY=");
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 2000px 2000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.infoboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
  }

  .addnewuser {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .spacebelowinfo {
    margin-bottom: 25px;
  }
